<configuration>
    <appender name="STDOUT" class="com.lorenzoog.projectkob.logger.LogAppender">
        <withJansi>true</withJansi>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
